.navbar {
    background: rgb(73, 105, 194);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(102, 66, 170);
}

.logo {
    color: brown;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
    font-size: larger;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: larger;

}

.nav-links a:hover,
.nav-links a:focus {
    text-decoration: underline;
}

.hero {
    background-image: url("Assets/School\ image.jpg");
    width: 100%;
    height: 900px;
    object-fit: cover;
    background-size: cover;
    background-position: center;
}

.hero-content h1 {
    font-size: 3.0rem;
    margin-bottom: 1rem;
    color: yellow;
    align-items: center;
    text-align: center;
}

.hero-content #p1 {
    margin-bottom: 1.5rem;
    color: #E94F37;
    font-size: 2.4rem;
    text-align: center;
}

.hero-content #p2 {
    margin-bottom: 1.5rem;
    color: #F6F7EB;
    font-size: 2.0rem;
    text-align: center;
}

.hero-content img {
    width: 300px;
    height: auto;
    margin-bottom: 20px;
    object-fit: cover;
    align-items: center;
    margin-left: 500px;
    margin-right: auto; 


    
}

.campus-card {
    display: grid;
    width: 100%;
    height: 300px;
    object-fit: cover;
    font-size:2.0rem;

}

.campus-grid {
    background-color: #37392E;
    height: 600px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding: 20px;


}

.facilities {
    background-color: rgb(15, 53, 155);
    color: blue;
    padding: 600px;
    text-align: center;

}

.hero-card {
    background-color: pink;
    color: blue;
    padding: 100px;
    text-align: center;
}

.hero-card-content h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: green;
}

.hero-card-content p {
    font-size: 2.0rem;
    color: black;
    text-align: center;
}

.academics {
    background-color: #EEE5E5;
    padding: 100px;
    text-align: center;
}

.academics-content h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: green;
}

.academics-content p {
    font-size: 1.5rem;
    color: black;
    text-align: center;
}

.academics-content ul {
    list-style: decimal;
    padding: 0;
    font-size: 1.5rem;
    color: black;
    text-align: center;
}

.feature-grid {
    font-size: 1.5rem;
    color: black;
    text-align: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contacts {
    font-size: 2.0rem;
}

.contact-form input,
.contact-form textarea {
    padding: 0.7rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: 2px solid var(--accent);
}

.apply-btn {
    background-color: white;
    text-box: calc(1.2rem + 0.7rem);
    color: red;
    padding: 0.7rem 1.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    align-items: center;
    text-align: center;
}

.apply-btn:hover {
    background-color: rgb(97, 98, 100);
    opacity: 0.9;
}

.footer {
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: 2.0rem;
}

.admissions {
    background-color: #28AFB0;
    padding: 100px;
    text-align: center;
}
.contact-info {
    padding: 50px;
    text-align: center;
    font-size: 2.0rem;
}

@media (min-width: 768px) {

    .grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .team-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .hero h2 {
        font-size: 2.5rem;
    }
}